.metadata/*
.project
.classpath

.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store

*/img/embeded_img/*/*.bmp
*/csv/*/*.csv
*/csv/*/*.xlsm
*/csv/*/*.xlsx
*/_csv/*

#*
.#*

.idea/
out/
*.iml
*/*.iml
*.log