.metadata/*
.project
.classpath

.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store

*/img/embeded_img/*/*.bmp
*/img/embeded_img_msg/*/*.bmp
*/csv/ave*/*csv
*/csv/base*/*.csv
*/csv/ave*/*xlsm
*/csv/base*/*.xlsm
*/csv/ave*/*xlsx
*/csv/base*/*.xlsx
*/_csv/*

#*
.#*

.idea/
out/
*.iml
*/*.iml
*.log